<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/dashboard.js"></script>
    <script src="/javascripts/jquery-2.1.0.js"></script>
  </head>
  <body>
    <div class="fireworks"></div>
    <div class="standup-status"></div>
    <div class="time"></div>

    <div class="clock-container">
        <div class="clock">
        <object data="https://s3.amazonaws.com/macslow/clock6.svg?w=10&amp;h=10" id="clock6" type="image/svg+xml"></object>
        </div>
        <div class="logo"></div>
    </div>
  </body>
</html>

